@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin:0cm;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: url("img/Fondo Ciudad-02.png") fixed;
    background-size: cover;
}
header{
    background-color: white;
    height: 1.5cm;
}

#logo{
    width: 3cm;
    height: 1cm;
    margin:15px 1cm;
}

#buscarbar{
    
    width:8cm;
    height: 0.7cm;
    padding: 0px 20px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    outline: none;
    border: 1px solid silver;
    border-radius: 20px;
    margin-left: 8cm;
    vertical-align:0.8cm;
}

#account{
    margin-left: 6cm;
    vertical-align:20px;
    width: 3cm;
    height: 1cm;
}

#user{
    width: 2.6cm;
    height: 1.1cm;
    margin-left: 0.9cm;
    vertical-align:18px;
}
section{
    width: 400px;
    height: 650px;
    
}
nav{
    margin-left: 100px;
    padding: 0px 0px;
}

#menusup{
    margin-left: 50px;
}

#menusup tr{

}

#menusup tr td{
    padding:25px 50px;
}

table{
    margin-left: 0px;
    padding:0px 0px ;
}
table td{
    padding: 0px 85px;
}


#usuarioicon{
    margin-left: 1200px;
    margin-top: 0px;
}
#listcab{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    display: inline-block;
    
}

#menusup{
    list-style: none;
   
}
#menusup ul{  
    margin-left: 100px;  
}

#menusup ul li{
    margin-top: 0px;
    margin-left: 20px;
    padding: 200px;
    display: inline-block;
}

 #menusuo ul li:hover{
     background-color: white;
     width: 200px;
     height: 200px;
 }

.iconmenu{
    margin: 0px 0px;
    position: relative;
    z-index: 10;
}
.iconmenu img{
    vertical-align: top;
    width: 35px;
    cursor: pointer;
}
.Menulat{
    background-color: rgb(30, 30, 30);
    box-shadow:2px 0px 5px 2px rgb(66,66,66) ;
    width: 200px;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    transition: all .5s ease;

}

.Menulat ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.Menulat ul li{
    
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
    
}
.Menulat ul li:hover{
    background-color: white;
    color: white;
    width: 200px;


}
/*dashboard group*/
.dashboard{
    background-color: white;
    width: 24cm;
    height: 13cm;
    margin-left: 7cm;
    border-radius: 10px;
}

#btn_forms{
    margin-left: 30px;
    margin-top: 10px;
    background-color: white;
    border:1px solid gray;
    font-size: 14px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 1cm;
    width: 3.6cm;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#btn_js{
    margin-left: 3px;
    background-color: white;
    border:1px solid gray;
    font-size: 14px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 1cm;
    width: 3.6cm;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    cursor:pointer;
}

#dashtable{
    margin-left: 0cm;
    margin-top: 0cm;
    width: 24cm;
    height: 11cm;
    border: none;
    border-collapse: collapse;
}
#dashtable th{
    border:1px solid black;
    width: 20cm;
    height: 4cm;

}

h2{
    
    font-size: 13px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-left: 0px;
    margin-top: 0px;
    align-items: left;
    font-weight:normal;
}
#Username{
    width:6cm;
    height: 0.8cm;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#Email{
    width:10cm;
    height: 1cm;
}

.r_btn{
    display: inline-block;
    cursor: pointer;
}
#checkmark{
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}

.chk_btn{
    display: inline-block;
    cursor: pointer;

}
#btn_go{
    width: 0.8cm;
    height: 0.8cm;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11px;
    font-weight: bold; 
    vertical-align: 0px;
}
.go{
    display: inline-block;
    cursor: pointer;
}
#btn_big{
    width: 1.7cm;
    height: 1.1cm;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: bold; 
}
#btn_med{
    width: 1.4cm;
    height: 0.8cm;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold; 
    margin-left: 4px;
}
#btn_smll{
    width: 1.2cm;
    height: 0.6cm;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11px;
    font-weight: bold; 
    margin-left: 4px;
}

#botonfinal1{
    background-color: rgb(94,94,94);
    border-radius: 15px;
    height: 30px;
    width: 80px;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 6cm;
    border:none;
    cursor:pointer;
}
#botonfinal2{
    background-color: rgb(94, 94, 94);
    border-radius: 15px;
    height: 30px;
    width: 80px;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 2cm;
    border:none;
    cursor:pointer;
}

#sel{
    background-color: rgb(202, 201, 201);
    border:none;
    width: 80px;
    height: 30px;
}
.active{
    transform:translate(-600px);
     
}

.opacity{
    
    transition: all .5s ease;

}



/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 250px;
    }
}


@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

        .menu-btn i.active:before {
            content: "\f00d";
        }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

        .navbar .menu.active {
            left: 0;
        }

        .navbar .menu li {
            display: block;
        }

            .navbar .menu li a {
                display: inline-block;
                margin: 20px 0;
                font-size: 25px;
            }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .services .serv-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }
}